#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.app-main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
